body {
  width: 100%;
  max-width: 1000px;
  background-color: #333;
}

body * {
  box-sizing: border-box;
}

p, a {
  font-family: "Arial Black", Gadget, sans-serif;
}

canvas {
  border-style: solid;
  padding: 0;
  z-index: 0;
  background-color: white;
  opacity: 0.95;
}

button#retryBtn {
  display: none;
  position: absolute;
  left: 680px;
  top: 840px;
  background-color: #333;
  color: orange;
  z-index: 9999;
  text-align: center;
  padding: 10px;
  border: 0;
  font-size: 30px;
}

button#retryBtn:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
}

button#retryBtn:active {
  position: absolute;
  left: 680px;
  top: 845px;
}

div#input-wrapper {
  position: absolute;
  top: 400px;
  left: 700px;
  width: 1.5em;
  border-bottom: 5px solid black;
  z-index: 9999;
}

input#input {
  width: 23px;
  border: 0;
  font-size: 25px;
  text-align: center;
}

input#input:focus {
  outline: 0;
}

p#hintUtskrift {
  position: absolute;
  left: 625px;
  top: 200px;
  font-size: 40px;
  text-decoration: underline;
}

p#feilUtskrift {
  position: absolute;
  top: 450px;
  left: 600px;
  font-size: 40px;
  text-decoration: line-through;
}

p#timer {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

p#score {
  position: absolute;
  top: 20px;
  left: 580px;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

img {
  display: none;
}
